<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.wolf2w.article.mapper.DestinationMapper">
    <resultMap id="FullResultMap" type="cn.wolfcode.wolf2w.article.domain.Destination">
        <id property="id" column="id"/>
        <id property="name" column="name"/>
        <collection property="children" ofType="cn.wolfcode.wolf2w.article.domain.Destination" columnPrefix="c_">
            <id column="id" property="id"/>
            <id column="name" property="name"/>
        </collection>

    </resultMap>
    <select id="selectHotListByRid" resultMap="FullResultMap">
        select province.id,province.name,city.id c_id,city.name c_name
        from destination province left join destination city on city.parent_id=province.id
        <where>
          <if test="rid==-1">
              province.parent_id=1
          </if>
            <if test="rid>0">
                and province.id in
                <foreach collection="ids" open="(" separator="," close=")" item="id">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
