<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.wolf2w.article.mapper.StrategyMapper">
    
    <resultMap id="BaseResultMap" type="cn.wolfcode.wolf2w.article.domain.Strategy">
        <id property="id" column="id"/>
        <result column="title" property="title"/>
    </resultMap>
    <resultMap id="CatalogGroupMap" type="cn.wolfcode.wolf2w.article.domain.StrategyCatalog">
        <id property="id" column="catalog_id"/>
        <result column="catalog_name" property="name"/>
        <collection property="strategies" columnPrefix="s_" resultMap="BaseResultMap"/>
    </resultMap>
    
    <select id="selectGroupsByDestId" resultMap="CatalogGroupMap">
        select t.catalog_id,t.catalog_name,s.id s_id,s.title s_title
        from (select catalog_id,catalog_name from strategy where dest_id=#{destId} group by catalog_id, catalog_name) t
        join strategy s on t.catalog_id=s.catalog_id
    </select>
    <select id="selectDestCondition" resultType="cn.wolfcode.wolf2w.article.vo.StrategyCondition">
        select  dest_id refid,dest_name name,count(*) total
        from strategy where isabroad=#{aborad}
        group by dest_id, dest_name
        order by total desc
    </select>
    <select id="selectThemeCondition" resultType="cn.wolfcode.wolf2w.article.vo.StrategyCondition">
        select  theme_id refid,theme_name name,count(*) total
        from strategy
        group by theme_id, theme_name
        order by total desc
    </select>
</mapper>
